{% extends "base.html" %}

{% block title %} Create New Room - {{ super() }}{% endblock %}

{% block body %}
		<form action="" method="post">
			Room name: <input type="text" name="room" minlength="5" maxlength="75" required/>
			Creator: <input type="text" name="creator" placeholder="{{ g.user.username }}" title="request not used" disabled/>
			<textarea name="msg" rows="4" cols="50" minlength="1" maxlength="200" placeholder="Message" required/></textarea>
			<input type="submit" value="submit" />
		</form>
{% endblock %}

{% block script %}
	// template
	f = document.getElementById('flashbox');
	b = document.getElementById('page-main');
	if (f != null) b.prepend(f);
	// template
{% endblock %}