{% if events == [] %}
	<h4>No Pending Events</h4>
{% else %}
	<h3>Scheduled Events </h3>

	<ul class="event-list">
	{% for i in events %}
		<li class="event-list-item" title="{{getName(i.client)}}">
			<a class="event-list-link" href="{{url_for('event', eid=i.id)}}">{{ i.eventname | striptags }}</a> 
			{{ i.date.strftime('%d %B %Y') }} 
		
			{% if i.staff1 == None and i.staff2 == None and i.staff3 == None %}
				<span class="event-empty">No staff</span>
			{% else %}
				<span class="event-staff">{{ getName(i.staff1) }} {{ getName(i.staff2) }} {{ getName(i.staff3) }}</span>
			{% endif %}				
		
		</li>
	{% endfor %}
	</ul>
{% endif %}