{% extends "base.html" %}

{% block title %} {{room.roomname}} - {{ super() }} {% endblock %}

{% block body %}

	{% if room == [] %}
		<h4>Room Not Found. This shouldn't happen</h4>
	{% else %}	
		{{ room.id }}
			{% for m in chats %}
				<li>{{ m }}</li>
			{% endfor %}
		
		<form action="" method="post">
			<textarea name="msg" rows="4" cols="50" minlength="1" maxlength="200" placeholder="Message" required/></textarea>
			<input type="submit" value="New message" />
		</form>
	{% endif %}

{% endblock %}
