{% extends "base.html" %}

{% block title %}Owner Page - {{ super() }}{% endblock %}

{% block body %}
	
	<div class="new-thing">
		<a href="{{ url_for('signerStaff') }}">Create new staff account</a>
	</div>
	<div class="new-thing">
		<a href="{{ url_for('newEvent') }}">Add new event</a>
	</div>
	
    {% include 'events/eventlist.html' %}
    
    {% if g.events != [] %}
		<br/><br/>    
	   <h3>Delete Event</h3>
	   
	   <form action="{{url_for("rmevent")}}" method="post">
		    <select name="events">
			{% for e in g.events %}
		    	<option value="{{ e.id }}" SELECTED>{{ e.eventname | striptags}}</option>
	    	{% endfor %} 
		    </select>
		    <input type="submit" value="Delete">
	    </form>
    
	{% endif %}
	
{% endblock %}
